* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
/*    background-image: url("../images/bg.svg");
    display: 100%;
    background-repeat: no-repeat;*/
    background-color: #595e4f;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
/*.bgPic {
    background-color: #050b13;
    overflow: scroll;
}*/

#leftNav{
 /*   min-height: 100%;*/
    max-height: 100vh;
    position: relative;
    background-color: #dce5cd;
    overflow: hidden;
    overflow: scroll;
    border-left: solid black 3px;
}

#rightView {
    height: 100vh;
    overflow: scroll;
    background-color: #050b13;
}

.topPanel {
    position: relative;
    font-size: 16px;
    height: 30vh;
    overflow: hidden;
    overflow: scroll;
    border: solid #050b13 4px;
    border-radius: 20px;
    margin: 20px;
    /* min-height: 50%; */
}

.topPanel p {
    padding: 5%;
    color: #050b13;
    background-color: #dce5cd;

}

#rightPanel{
    position: relative;
    font-size: 16px;    

}
.buttonNav {
    background-color: #686868;
    max-width: 100%;
    display: flex;
    justify-content: right;
/*    justify-content: right;*/
}

#lBottomPanel{
    position: relative;
    font-size: 16px;
    background-color: #050b13;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: auto;
    text-align: center;
    border-right: solid #dce5cd 1px;
    margin: 30px 0 15px 0;
}

.buttonBg {
    background-color: #8ccc25;
}

#rBottomPanel {
        position: relative;
    font-size: 16px;
    background-color: #050b13;
        height: 40vh;
    overflow-y: scroll;
    overflow-x: auto;
    text-align: justify;
    color: #dce5cd;
}
.panelTitle {
    text-align: center;
    margin: 20px;
}
.footerStyle {
    height: 10vh;
    text-align: center;
/*    border: solid #8de615 6px;*/
    border-radius: 20px;
    background-color: #dce5cd;
}
#textArea {
    background-color: #050b13;
    height: 25vh;
    margin-top: 46px;
    overflow: scroll;
}